<ion-view view-title="Browse">
  <ion-content>
    <table style="width:80%;margin-top:10%;">
                <caption style="margin-left:6%;display:none;">Status for last week</caption>
                <thead>
                    <tr>
                        <td></td>
                        <th scope="col" style="padding:0px;">Status</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row" style="width:30px;">Monday</th>
                        <td style="color:red;">222541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Tuesday</th>
                        <td style="color:green;">12541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Wednesday</th>
                        <td>12541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Thursday</th>
                        <td>12541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Friday</th>
                        <td>12541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Saturday</th>
                        <td>12541/20000</td>
                    </tr>
                    <tr>
                        <th scope="row">Sunday</th>
                        <td>12541/20000</td>

                    </tr>
                </tbody>
            </table>
  </ion-content>
</ion-view>
